@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #F6F6F5;
  font-family: 'Orienta', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.module {
  @apply p-1 h-20 w-20 rounded-full shadow bg-blue-800 text-center;
}
.lesson-node{
  @apply bg-primary border-solid border-2 border-[#e66c6c] w-8 h-8 rounded-full flex items-center justify-center text-white
}

.lesson-node.active{
  @apply bg-white
}

.lesson-node.inactive{
  @apply opacity-70 bg-white
}

.lesson-connector{
  @apply bg-primary h-1 w-12 flex-1
}

.lesson-connector.inactive{
  @apply opacity-70
}

button {
  @apply bg-primary px-4 rounded-lg py-3 font-semibold
}

p {
  @apply text-gray-600 text-lg
}

.radio-card{
  @apply p-4 border-2 border-gray-400 rounded-xl flex gap-4 text-gray-400 items-center
}
.radio-card .radio-dot{
  @apply rounded-full bg-gray-300 w-4 h-4
}


.sub_two{
  background-color: white;
  margin-bottom: 30px;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  font-style: italic;
  box-shadow: 100px;
  background-color: white;
}
.sub_three{
  height: 150px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;

}
.sub_one {
  justify-content: center;
}

input {
  @apply border rounded-lg bg-transparent border-black p-2 text-center
}

.radio-card.selected {
  @apply border-amber-400
}